# log
/tbears.log
/dpes-score/tbears.log

# sample
/dpes-score/src/standard_token
/dpes-score/src/standard_crowd_sale
/dpes-score/src/icon_score_broker
/dpes-score/src/icon_score_token

# node_moduls
/dpes/node_modules/
node_modules/

# tbears
.*/
/exc
.DS_Store